@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Shippori+Mincho&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* 重置內容字體(非襯線體)、行高 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  /*光學尺寸(若字體有支援依照裝置大小改變線條粗細)*/
  line-height: 1.5;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /*將a預設的inline改為block，才能設定間距及寬高給超連結空間，排版上較方便*/
  color: plum;
  /*直接設定連結顏色*/
  text-decoration: none;
}

/*自訂捲軸樣式*/
/*reset end*/
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes drop {
  0% {
    transform: translateY(0px) rotate(15deg);
  }
  8% {
    transform: translateY(680px) rotate(-1deg);
  }
  15% {
    transform: translateY(660px) rotate(0deg);
  }
  25% {
    transform: translateY(675px) rotate(-1deg);
  }
  40% {
    transform: translateY(675px);
  }
  100% {
    transform: translateY(500px) rotate(-2deg);
  }
}
@keyframes swing {
  0% {
    transform: translateY(500px) rotate(-2deg);
  }
  50% {
    transform: translateY(500px) rotate(2deg);
  }
  100% {
    transform: translateY(500px) rotate(-2deg);
  }
}
@keyframes goback {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveR {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20%) rotate(2deg);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveL {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20%) rotate(-2deg);
  }
  100% {
    transform: translateX(-100%) rotate(0deg) scaleX(0.9);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes peekaboo {
  0% {
    transform: translateX(-15px);
  }
  10% {
    transform: translateX(0px);
  }
  17% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-30px);
  }
  42% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(0px);
  }
  58% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes shine {
  from {
    left: -75%;
  }
  to {
    left: 125%;
  }
}
@keyframes shine-border {
  from {
    filter: brightness(1);
  }
  40% {
    filter: brightness(1.8);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes moveBG {
  to {
    background-position: var(--bgSize) 0;
  }
}
@keyframes swingCurtain {
  0% {
    transform: translateY(0px) rotate(-1deg);
  }
  50% {
    transform: translateY(5px) rotate(1deg);
  }
  100% {
    transform: translateY(0px) rotate(-1deg);
  }
}
@keyframes bg-slide {
  0% {
    background-position: left center;
  }
  80% {
    background-position: right center;
  }
  100% {
    background-position: center center;
  }
}
/*共用樣式區開始*/
html {
  scroll-behavior: smooth;
  /* 讓滾動有平滑效果 */
}

body {
  background-color: rgb(35, 32, 61);
  background-image: url(../images/patter.jpg);
  color: white;
  font-family: "Shippori Mincho", serif;
}
body main {
  position: relative;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
  justify-items: center;
}
section .preview {
  font-size: 1.4rem;
  margin-top: 50px;
}
section .title {
  font-size: 2.5rem;
  font-family: "MonteCarlo", cursive;
  position: relative;
}
section .title::before {
  content: "";
  background-image: url(../images/h3-arrow_L.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 5%;
  right: 140%;
}
section .title::after {
  content: "";
  background-image: url(../images/h3-arrow_R.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 140%;
}

/* 創建背景層 */
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media (max-width:640px) {
  section {
    padding: 100px 10%;
  }
  section .title::before {
    right: 110%;
  }
  section .title::after {
    left: 110%;
  }
}
/*共用樣式區結束*/
#header {
  position: relative;
  overflow: hidden;
  padding: 0;
}
#header .curtain {
  overflow: hidden;
}
#header .curtain #curtain_R {
  height: 100vh;
  width: auto;
  position: absolute;
  z-index: 999;
  left: 48%;
  top: 0;
  animation: moveR 2.5s ease-in-out forwards 0.5s;
  animation-play-state: paused;
  /* 預設暫停 */
}
#header .curtain #curtain_R.start-animation {
  animation-play-state: running;
}
#header .curtain #curtain_L {
  height: 100vh;
  width: auto;
  position: absolute;
  z-index: 999;
  right: 48%;
  top: 0;
  animation: moveL 2.5s ease-in-out forwards 0.5s;
  animation-play-state: paused;
  /* 預設暫停 */
}
#header .curtain #curtain_L.start-animation {
  animation-play-state: running;
}
#header .banner_border {
  height: 100vh;
  width: 100%;
  clip-path: polygon(0% 0%, 0% 100%, 8% 100%, 8% 8%, 92% 8%, 92% 92%, 8% 92%, 8% 100%, 100% 100%, 100% 0%);
  position: absolute;
  z-index: 1;
}
#header .banner_border .decor-1::before {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url("../images/bn-border_H.svg");
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  top: 0;
}
#header .banner_border .decor-1::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(../images/bn-border_H.svg);
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
}
#header .banner_border .decor-2::before {
  content: "";
  width: 30px;
  height: 100%;
  background-image: url(../images/bn-border_V.svg);
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}
#header .banner_border .decor-2::after {
  content: "";
  width: 30px;
  height: 100%;
  background-image: url(../images/bn-border_V.svg);
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  left: 0;
}
#header .banner_border .decor-3::before {
  content: "";
  width: 140px;
  height: 140px;
  background-image: url(../images/bn-border_LT.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
#header .banner_border .decor-3::after {
  content: "";
  width: 140px;
  height: 140px;
  background-image: url(../images/bn-border_RT.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
#header .banner_border .decor-4::before {
  content: "";
  width: 140px;
  height: 140px;
  background-image: url(../images/bn-border_LB.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
#header .banner_border .decor-4::after {
  content: "";
  width: 140px;
  height: 140px;
  background-image: url(../images/bn-border_RB.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width:640px) {
  #header .banner_border .decor-1::before {
    width: 100%;
    height: 20px;
  }
  #header .banner_border .decor-1::after {
    width: 100%;
    height: 20px;
  }
  #header .banner_border .decor-2::before {
    width: 20px;
    height: 100%;
  }
  #header .banner_border .decor-2::after {
    width: 20px;
    height: 100%;
  }
  #header .banner_border .decor-3::before {
    width: 93px;
    height: 93px;
  }
  #header .banner_border .decor-3::after {
    width: 93px;
    height: 93px;
  }
  #header .banner_border .decor-4::before {
    width: 93px;
    height: 93px;
  }
  #header .banner_border .decor-4::after {
    width: 93px;
    height: 93px;
  }
}
#header #banner {
  height: 100vh;
  width: 100%;
  background-image: url(../images/MainVisual1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* 強制啟用 GPU 渲染 */
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 5%;
}
#header #banner .event_title {
  display: block;
  justify-self: end;
  border: 1px solid lightgrey;
  text-align: center;
  margin-right: 10%;
  margin-bottom: 30px;
}
#header #banner .event_title h1 {
  font-size: 2rem;
}
#header #banner .event_title h2 {
  font-size: 1.4rem;
}
#header #banner .event_title h3 {
  font-size: 1.2rem;
}
#header #banner .news_carousel {
  width: 250px;
  height: 150px;
  align-items: end;
  margin-left: 10%;
  margin-bottom: 30px;
  cursor: pointer;
}
#header #banner .news_carousel .news_block {
  background-image: url(../images/news_bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px;
  height: 150px;
  margin: 0 20px;
  text-align: center;
  line-height: 150px;
}
#header #banner .news_carousel_M {
  display: none;
}
#header #banner .chandelier {
  height: 700px;
  width: auto;
  position: absolute;
  top: -750px;
  right: 8%;
  animation: drop 5s ease-out forwards 3s, swing 5s infinite ease-out 8s;
  animation-play-state: paused;
  /* 預設暫停 */
  cursor: pointer;
}
#header #banner .chandelier.start-animation {
  animation-play-state: running;
}
@media (max-width:640px) {
  #header .curtain #curtain_R {
    animation: moveR 2.5s ease-in-out forwards 0.5s;
    left: 45%;
  }
  #header .curtain #curtain_L {
    animation: moveL 2.5s ease-in-out forwards 0.5s;
    right: 44%;
  }
  #header #banner {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    transform: translateZ(0);
    /* 強制啟用 GPU 渲染 */
  }
  #header #banner .news_carousel {
    display: none;
  }
  #header #banner .event_title {
    margin: 0;
    margin-bottom: 40px;
  }
  #header #banner .event_title h1 {
    font-size: 1.4rem;
  }
  #header #banner .event_title h2 {
    font-size: 1rem;
  }
  #header #banner .event_title h3 {
    font-size: 1rem;
  }
  #header #banner .chandelier {
    scale: 0.8;
  }
}

#navigation {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  z-index: 100;
}
#navigation .nav-bar {
  background-color: rgba(35, 32, 61, 0.7);
}
#navigation .nav-bar ul {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
#navigation .nav-bar ul li {
  margin: 5px 15px;
}
#navigation .nav-bar ul li a {
  font-family: "MonteCarlo";
  font-size: 1.8rem;
  color: whitesmoke;
  position: relative;
}
#navigation .nav-bar ul li a:hover {
  color: #DAA857;
}
#navigation .nav-bar ul li a:hover::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/nav_top.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
#navigation .nav-bar ul li a:hover::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 30px;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/nav_btm.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
#navigation .hamburger {
  display: none;
  align-self: flex-end;
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px 40px 10px 10px;
  color: #c9a063;
  border: none;
  background-color: transparent;
  font-family: "Shippori Mincho";
}
#navigation .hamburger:before {
  position: absolute;
  content: "";
  background-image: url(../images/hamburger_deco.svg);
  height: 80px;
  width: 80px;
  top: -30%;
  right: 0;
}
@media (max-width:640px) {
  #navigation {
    flex-direction: column-reverse;
    top: 15px;
    position: fixed;
    right: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* 預設隱藏在上方 */
    opacity: 1;
  }
  #navigation.show {
    transform: translateY(0);
    /* 滑入 */
    opacity: 1;
  }
  #navigation #hamburger {
    display: flex;
  }
  #navigation .nav-bar {
    display: none;
    width: 150px;
    align-self: end;
    background-color: rgba(35, 32, 61, 0.9);
    position: absolute;
    top: -40px;
    justify-content: center;
    animation: hide 0.35s both;
  }
  #navigation .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #navigation .nav-bar ul li a {
    font-size: 2rem;
  }
  #navigation .nav-bar:after {
    position: absolute;
    content: "";
    background-image: url(../images/hamburger_deco_btm.svg);
    height: 80px;
    width: 80px;
    bottom: 0;
    left: 0;
  }
  #navigation .nav-bar.show {
    display: flex;
    animation: show 0.4s both;
  }
}

#intro .wrap {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro .wrap .title {
  margin-bottom: 80px;
}
#intro .wrap .content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  line-height: 1.8rem;
}
#intro .wrap .content h4 {
  font-size: 1.8rem;
  margin: 10px 0;
}
#intro .wrap .content small {
  align-self: flex-end;
}
#intro .wrap .content hr {
  width: 100%;
  border-style: dashed;
}
@media (max-width:640px) {
  #intro {
    padding-bottom: 50px;
    overflow: hidden;
  }
  #intro .wrap .title {
    margin-bottom: 40px;
  }
}

#news_links {
  display: flex;
  flex-direction: column;
}
#news_links .other-news {
  position: relative;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
#news_links .other-news::before {
  content: "";
  background-image: url(../images/h4-frame_L.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 60px;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translateY(-10%);
}
#news_links .other-news::after {
  content: "";
  background-image: url(../images/h4-frame_R.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 60px;
  position: absolute;
  top: -50%;
  right: -50%;
  transform: translateY(-10%);
}
#news_links .latest_carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  max-width: 1200px;
  align-items: end;
  margin-bottom: 30px;
  cursor: pointer;
}
#news_links .latest_carousel .news_block {
  background-image: url(../images/news_bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px;
  height: 150px;
  margin: 0 20px;
  text-align: center;
  line-height: 150px;
}
@media (max-width:640px) {
  #news_links {
    padding-bottom: 0;
  }
  #news_links .latest_carousel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
  }
  #news_links .latest_carousel .news_block {
    margin: 0;
  }
}

#links .title {
  margin-bottom: 40px;
}
#links .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#links .content p {
  text-align: center;
  margin: 15px 0;
}
#links .content .app {
  width: 200px;
  height: 200px;
}
#links .content .app img {
  border-radius: 40px;
}
#links .content .brand {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
#links .content .brand .fa-apple {
  color: white;
  font-size: 90px;
  transition: transform 0.1s ease-in-out;
}
#links .content .brand .fa-apple:hover {
  transform: scale(0.92);
}
#links .content .brand .fa-google-play {
  color: white;
  font-size: 75px;
  transition: transform 0.1s ease-in-out;
}
#links .content .brand .fa-google-play:hover {
  transform: scale(0.92);
}

#contact .title {
  margin-bottom: 40px;
}
#contact .staff {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding-bottom: 120px;
}
#contact .staff p {
  color: #DAA857;
}
#contact .staff ul {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
}
#contact .staff ul li {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 50%;
  color: navy;
  text-align: center;
  line-height: 80px;
  position: relative;
}
#contact .staff ul li a {
  display: block;
  /* 讓 <a> 佔滿整個 <li> */
  padding: 40px;
}
#contact .staff ul li.plurk {
  background-image: url(../images/plurk.png);
  background-size: cover;
}
#contact .staff ul li.plurk:hover {
  filter: brightness(0.7);
}
#contact .staff ul li.email {
  background-image: url(../images/DCTonly.jpg);
  background-size: cover;
  background-position: center;
}
#contact .staff ul li.email:hover {
  filter: brightness(0.7);
}
#contact .staff ul li.youtube {
  background-image: url(../images/youtube.jpg);
  background-size: cover;
}
#contact .staff ul li.youtube:hover {
  filter: brightness(0.7);
}

#alert {
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
#alert .hole {
  width: 100%;
  height: 80px;
  position: relative;
}
#alert .hole .alert_wrap {
  position: absolute;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 70px;
  bottom: 30px;
  left: -350px;
  transition: left 0.3s ease-in-out;
  animation: peekaboo 5s infinite ease-in-out;
}
#alert .hole .alert_wrap .alert-content {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#alert .hole .alert_wrap .alert-content .countdown-alert {
  background-color: darkred;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: white;
  opacity: 0;
  transition: opacity 0.3s linear;
}
#alert .hole .alert_wrap .alert-content .countdown-alert:hover {
  filter: brightness(1.2);
}
#alert .hole .alert_wrap .hamu {
  width: 120px;
  height: auto;
  cursor: pointer;
}
#alert .hole .alert_wrap .hamu .hamu-png:hover {
  content: url("../images/hamu_bonk.png");
  /* 滑鼠懸停時替換圖片 */
}
@media (max-width:640px) {
  #alert .hole .alert_wrap {
    right: 70px;
    bottom: 0px;
  }
  #alert .hole .alert_wrap .alert-content {
    width: 50%;
  }
}

footer {
  text-align: center;
  background-color: #333;
  padding: 20px 0 40px;
}
footer #gotop {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "MonteCarlo", cursive;
  line-height: 20px;
  letter-spacing: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 666;
}
footer #gotop::before {
  content: "";
  background-image: url(../images/back-to-top.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  animation: rotation 35s infinite;
  opacity: 0.6;
  transition: none;
}
footer #gotop:hover {
  font-size: 26px;
  line-height: 24px;
}
footer #gotop:hover::before {
  animation-play-state: paused;
}
@media (max-width:640px) {
  footer #gotop {
    bottom: 20px;
  }
  footer #gotop::before:hover {
    animation: none;
  }
}/*# sourceMappingURL=style_latest.css.map */