@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Shippori+Mincho&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* 重置內容字體(非襯線體)、行高 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  /*光學尺寸(若字體有支援依照裝置大小改變線條粗細)*/
  line-height: 1.5;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /*將a預設的inline改為block，才能設定間距及寬高給超連結空間，排版上較方便*/
  color: plum;
  /*直接設定連結顏色*/
  text-decoration: none;
}

/*自訂捲軸樣式*/
/*reset end*/
/*共用樣式區開始*/
html {
  scroll-behavior: smooth;
  /* 讓滾動有平滑效果 */
}

body {
  background-color: rgb(35, 32, 61);
  color: white;
  font-family: "Shippori Mincho", serif;
}
body h3.title {
  text-align: center;
  font-size: 2rem;
  font-family: "MonteCarlo", cursive;
}
body main {
  position: relative;
}

section {
  width: 100%;
  justify-self: center;
  border: 1px blue solid;
  padding: 5% 10%;
  justify-items: center;
}
section .preview {
  font-size: 1.4rem;
  margin-top: 50px;
}

/* 創建背景層 */
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* 第一段背景 (section1 到 section3) */
.background-first {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% of intro + 100% of section2 + 100% of section3);
  background-image: url(/images/patter.jpg);
  z-index: -2;
}

/* 第二段背景 (section5 到 section7) */
.background-last {
  position: absolute;
  top: calc(100% of section1 + 100% of section2 + 100% of section3 + 100% of section4);
  left: 0;
  width: 100%;
  height: calc(100% of section5 + 100% of section6 + 100% of section7);
  background-image: url(/images/patter.jpg);
  z-index: -2;
}

@media (max-width:640px) {
  section {
    padding-bottom: 100px;
  }
}
/*共用樣式區結束*/
header {
  position: relative;
  overflow: hidden;
}
header .banner_border {
  height: 100vh;
  width: 100%;
  clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 100%, 100% 100%, 100% 0%);
  background-color: rgb(35, 32, 61);
  position: absolute;
}
header #banner {
  height: 100vh;
  width: 100%;
  background-image: url(../images/MainVisual.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px red solid;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 5%;
}
header #banner .event_title {
  display: block;
  justify-self: end;
  border: 1px solid lightgrey;
  text-align: center;
}
header #banner .event_title h1 {
  font-size: 2rem;
}
header #banner .event_title h2 {
  font-size: 1.4rem;
}
header #banner .event_title h3 {
  font-size: 1.2rem;
}
header #banner .news_carousel {
  width: 250px;
  height: 150px;
  background-color: rgb(146, 87, 15);
  align-items: end;
  margin-left: 30px;
}
@media (max-width:640px) {
  header #banner {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
  }
  header #banner .news_carousel {
    margin: 20px 0 0;
  }
}

nav {
  background-image: inherit;
  border: 2px rgb(187, 255, 0) solid;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  margin: 5px 10px;
}
nav ul li a:hover {
  color: lightsalmon;
  text-decoration: underline;
}

#intro {
  border: 1px lightcoral solid;
}
#intro .wrap {
  max-width: 1200px;
}
#intro .wrap .story {
  margin-top: 16px;
  text-align: center;
}

#date div {
  text-align: center;
}
#date div p {
  margin: 10px 0;
}
#date .p_date {
  font-size: 2rem;
  font-family: "MonteCarlo", cursive;
  letter-spacing: 3px;
}
#date .p_time {
  font-size: 1.8rem;
  font-family: "MonteCarlo", cursive;
  letter-spacing: 3px;
}
#date .p_venue {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
#date .p_venue a {
  display: flex;
  align-self: center;
  margin-left: 10px;
  transition: transform 0.1s ease-in-out;
}
#date .p_venue a .fa-map-location-dot {
  color: lightgray;
}
#date .p_venue a:hover {
  transform: scale(0.9);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
#date .small {
  color: #ccc;
  font-size: 1rem;
}

#event {
  overflow: hidden;
}
#event .event_wrap {
  max-width: 1200px;
}
#event .event_wrap img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}
#event .event_wrap div {
  display: flex;
  margin: 80px 0;
  align-items: center;
}
#event .event_wrap div .txt_content {
  flex-direction: column;
  padding: 0 80px;
  line-height: 1.8rem;
}
#event .event_wrap div .txt_content h4 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.4rem;
}
#event .event_wrap div .txt_content #openModal {
  margin-top: 24px;
  color: coral;
  border: none;
  cursor: pointer;
}
#event .event_wrap div .txt_content #openModal:hover {
  filter: brightness(0.8);
}
#event .phone {
  display: none;
}
@media (max-width:820px) {
  #event .event_wrap {
    display: flex;
    flex-direction: column;
  }
  #event .event_wrap div {
    margin: 50px 0;
    display: flex;
    gap: 24px;
  }
  #event .event_wrap div img {
    max-width: 300px;
    height: auto;
    aspect-ratio: 4/3;
  }
  #event .event_wrap div .txt_content {
    padding: 0;
  }
  #event .event_wrap div .txt_content h4 {
    margin-bottom: 0;
  }
  #event .phone {
    display: none;
  }
}
@media (max-width:640px) {
  #event .event_wrap {
    display: none;
  }
  #event .phone {
    display: flex;
    flex-direction: column;
  }
  #event .phone div {
    flex-direction: column;
    margin: 50px 0;
    gap: 0;
  }
  #event .phone div .txt_content {
    padding: 0 20px;
  }
  #event .phone div .txt_content h4 {
    margin-bottom: 24px;
  }
}

/* 隱藏 Modal（預設不顯示） */
.modal-overlay {
  display: none;
  /* 預設隱藏 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.5);
  /* 背景變暗 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 確保在最上層 */
  flex-direction: column;
  /* Modal 彈窗 */
}
.modal-overlay .modal {
  display: flex;
  background: black;
  margin-bottom: 20px;
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 60%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
  position: relative;
  /* 關閉按鈕 */
}
.modal-overlay .modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.modal-overlay .modal-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: whitesmoke;
  font-family: "MonteCarlo", cursive;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}
.modal-overlay .modal-close:hover {
  filter: brightness(0.8);
}

/* 顯示 Modal（當 JavaScript 添加 `active` 類別時） */
.modal-overlay.active {
  display: flex;
}

#cast {
  width: 100%;
  height: auto;
  padding: 5% 0;
  padding-bottom: 200px;
  /* 自訂箭頭樣式 */
  /* 調整左右箭頭的位置 */
}
#cast .carousel-container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  overflow: visible;
}
#cast .carousel {
  display: flex;
}
#cast .carousel .slick-slide {
  margin: 20px;
  transition: transform 0.3s ease;
  /* 讓切換平滑 */
  filter: brightness(0.7);
  /* 預設讓非中間的圖片變暗 */
  transform: scale(0.9);
}
#cast .carousel .slick-center {
  filter: brightness(1) !important;
  /* 讓中間的圖片變亮 */
  transform: scale(1.1);
  /* 讓中間的圖片變大 */
}
#cast .slick-dots {
  display: flex !important;
  justify-content: center;
  bottom: -100px;
  position: absolute;
  width: 100%;
}
#cast .slick-dots li {
  scale: 3;
  margin: 0 15px;
}
#cast .slick-dots li button {
  all: unset;
  font-size: 0;
}
#cast .slick-dots li button:before {
  opacity: 1;
  filter: brightness(0.7);
  content: "✽";
  font-size: 9px;
  cursor: pointer;
}
#cast .slick-dots li:nth-child(1) button:before {
  color: rgb(160, 204, 218);
}
#cast .slick-dots li:nth-child(2) button:before {
  color: rgb(214, 138, 204);
}
#cast .slick-dots li:nth-child(3) button:before {
  color: rgb(45, 65, 177);
}
#cast .slick-dots li:nth-child(4) button:before {
  color: rgb(218, 206, 139);
}
#cast .slick-dots li:nth-child(5) button:before {
  color: rgb(206, 133, 50);
}
#cast .slick-dots li:nth-child(6) button:before {
  color: rgb(140, 80, 175);
}
#cast .slick-dots li:nth-child(7) button:before {
  color: rgb(72, 134, 72);
}
#cast .slick-dots li.slick-active button:before {
  opacity: 1;
  scale: 1.2;
  filter: brightness(1.1);
}
#cast .slick-prev-custom,
#cast .slick-next-custom {
  position: absolute;
  bottom: -110px;
  /* 與 .slick-dots 對齊 */
  color: aquamarine;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  transform-origin: center center;
  /* 以物件正中心為縮放基準 */
  min-width: 120px;
}
#cast .slick-prev-custom {
  width: 10%;
  height: auto;
  left: 20%;
  /* 靠近左邊 */
}
#cast .slick-prev-custom:hover {
  filter: brightness(0.8);
}
#cast .slick-next-custom {
  width: 10%;
  height: auto;
  right: 20%;
  /* 靠近右邊 */
}
#cast .slick-next-custom:hover {
  filter: brightness(0.8);
}
@media (max-width:820px) {
  #cast .carousel {
    /* 調整左右箭頭的位置 */
  }
  #cast .carousel .slick-prev-custom {
    width: 15%;
    left: 10%;
    bottom: -105px;
  }
  #cast .carousel .slick-next-custom {
    width: 15%;
    right: 10%;
    bottom: -105px;
  }
}
@media (max-width:640px) {
  #cast {
    padding-bottom: 150px;
  }
  #cast .carousel .slick-track {
    padding: 30px 0;
  }
  #cast .carousel .slick-slide {
    margin: 20px;
    transition: transform 0.3s ease;
    /* 讓切換平滑 */
    filter: brightness(0.7);
    /* 預設讓非中間的圖片變暗 */
    padding: 0;
  }
  #cast .carousel .slick-center {
    filter: brightness(1) !important;
    /* 讓中間的圖片變亮 */
    transform: scale(1.5);
    /* 讓中間的圖片變大 */
  }
  #cast .carousel .slick-dots {
    bottom: -40px;
  }
  #cast .carousel .slick-prev-custom,
  #cast .carousel .slick-next-custom {
    bottom: -100px;
    width: 30%;
  }
  #cast .carousel .slick-prev-custom {
    left: 10%;
  }
  #cast .carousel .slick-next-custom {
    right: 10%;
  }
}

#goods .your-class {
  display: flex;
}

#secret {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
  background-image: none;
}
#secret .content {
  padding: 5%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
#secret .content p {
  text-align: center;
}
#secret #video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 讓影片居中 */
  z-index: -10;
  /* 確保影片在最底層 */
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

#links p {
  text-align: center;
  margin: 15px 0;
}
#links .app {
  justify-items: center;
}
#links .app img {
  width: 200px;
  height: 200px;
  border-radius: 40px;
}
#links .brand {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
#links .brand .fa-apple {
  color: white;
  font-size: 90px;
  transition: transform 0.1s ease-in-out;
}
#links .brand .fa-apple:hover {
  transform: scale(0.92);
}
#links .brand .fa-google-play {
  color: white;
  font-size: 75px;
  transition: transform 0.1s ease-in-out;
}
#links .brand .fa-google-play:hover {
  transform: scale(0.92);
}

#contact .staff {
  width: 80%;
}
#contact .staff ul {
  display: flex;
  margin: auto;
  border: 1px lavender solid;
  justify-content: space-around;
}
#contact .staff ul li {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  clip-path: circle(50% at 50% 50%);
}

footer {
  text-align: center;
  background-image: url(../images/patter.jpg);
}/*# sourceMappingURL=style.css.map */