@use './variables/' as*;

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* 重置內容字體(非襯線體)、行高 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    /*光學尺寸(若字體有支援依照裝置大小改變線條粗細)*/
    line-height: 1.5;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置清單符號 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* 重置連結 */
a {
    display: block;
    /*將a預設的inline改為block，才能設定間距及寬高給超連結空間，排版上較方便*/
    color:plum;
    /*直接設定連結顏色*/
    text-decoration: none;
}

/*自訂捲軸樣式*/
// ::-webkit-scrollbar {
//     //捲軸
//     background-color: $color-lighter;
//     border-radius: 50px;
//     width: 12px; //垂直捲軸寬
//     height: 12px; //水平捲軸高
// }

// ::-webkit-scrollbar-button {
//     //捲軸上下按鈕
//     border-radius: 50px;
//     height: 12px;
//     width: 12px;
//     background-color: $color-light2;
// }

// ::-webkit-scrollbar-thumb {
//     //捲軸手柄
//     border-radius: 50px;
//     background-color: $color-light;
// }

// ::-webkit-scrollbar-track {
//     //滾動條軌道
//     // background-color: $color-lighter;
//     // border-radius: 50px;
// }

// ::-webkit-scrollbar-corner {
//     //右下底角
//     background-color: $color-deep;
//     border-radius: 50px;
// }

// ::-webkit-resizer { //多行文字欄位右下縮放拖曳按鈕
//     // background-color: $color-deep;
//     // border-radius: 50px;
// }

/*reset end*/