@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@use 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Shippori+Mincho&display=swap');


/*共用樣式區開始*/
html {
    scroll-behavior: smooth;
    /* 讓滾動有平滑效果 */
}

body {
    background-color: rgb(35, 32, 61);
    background-image: url(../images/patter.jpg);
    color: white;
    font-family: "Shippori Mincho", serif;



    h3.title {
        text-align: center;
        font-size: $font-size-xxxl ;
        font-family: "MonteCarlo", cursive;
    }

    main {
        position: relative;
        // overflow: hidden;

    }
}

section {
    // height: 50vh;
    // max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-self: center;

    border: 1px blue solid;
    padding: 5% 10%;

    justify-items: center;
    // background-image: url(../images/patter.jpg);

    .preview {
        font-size: $font-size-xl;
        margin-top: 50px;
    }

}

// 背景設定
/* 創建背景層 */
.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    /* 第一段背景 (section1 到 section3) */
    .background-first {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% of intro + 100% of section2 + 100% of section3);
        // background-color: aqua; 
        background-image: url(../images/patter.jpg);
        z-index: -2;
    }

    /* 第二段背景 (section5 到 section7) */
    .background-last {
        position: absolute;
        top: calc(100% of section1 + 100% of section2 + 100% of section3 + 100% of section4);
        left: 0;
        width: 100%;
        height: calc(100% of section5 + 100% of section6 + 100% of section7);
        // background-color: burlywood;
        background-image: url(../images/patter.jpg);
        z-index: -2;
    }
}

@media ($mediaSm) {
    section {
        padding-bottom: 100px;
    }
}

/*共用樣式區結束*/

header {
    position: relative;
    overflow: hidden;

    .banner_border {
        height: 100vh;
        width: 100%;
        clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 100%, 100% 100%, 100% 0%);
        background-color: rgb(199, 121, 33);
        position: absolute;
        z-index: 1;
    }

    #banner {
        height: 100vh;
        width: 100%;
        background-image: url(../images/MainVisual1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; //視差效果
        // transform: translateZ(0);
        /* 強制啟用 GPU 渲染 */

        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 20px 5%;


        .event_title {
            display: block;
            justify-self: end;
            border: 1px solid lightgrey;
            text-align: center;
            margin-right: 10%;

            h1 {
                font-size: $font-size-xxxl;
            }

            h2 {
                font-size: $font-size-xl;
            }

            h3 {
                font-size: $font-size-l;
            }
        }

        .news_carousel {
            width: 250px;
            height: 150px;
            align-items: end;
            margin-left: 30px;

            .news_prev {
                background-image: url(../images/news_bg.svg);
                background-repeat: no-repeat;
                background-position: center center;
                width: 250px;
                height: 150px;
                margin: 0 20px;
                text-align: center;
                line-height: 150px;
            }
        }

        .chandelier {
            height: 700px;
            width: auto;
            position: absolute;
            top: -750px;
            right: 8%;
            animation: drop 5s ease-out forwards 3s, swing 5s infinite ease-out 8s;
            cursor: pointer;
        }
    }

    @media ($mediaSm) {

        // 手機版
        #banner {
            flex-direction: column-reverse;
            justify-content: end;
            align-items: center;
            transform: translateZ(0);
            /* 強制啟用 GPU 渲染 */

            .news_carousel {
                margin: 20px 0 0;
            }

            .event_title {
                margin: 0;

                h1 {
                    font-size: $font-size-xl;
                }

                h2 {
                    font-size: $font-size-m;
                }

                h3 {
                    font-size: $font-size-m;
                }
            }

            .chandelier {
                scale: 0.8;
            }
        }
    }
}

#navigation {
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    z-index: 100;

    .nav-bar {
        background-color: rgb(35, 32, 61, 0.7);
        // border: 2px rgb(187, 255, 0) solid;

        ul {
            padding: 10px 0;
            display: flex;
            justify-content: center;

            li {
                margin: 5px 15px;

                a {
                    font-family: "MonteCarlo";
                    font-size: $font-size-xxl;
                    color: whitesmoke;
                    position: relative;

                    &:hover {
                        color: #DAA857;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 80px;
                            height: 30px;
                            bottom: 50%;
                            left: 50%;
                            transform: translateX(-50%);
                            background-image: url(../images/nav_top.svg);
                            background-size: contain;
                            background-repeat: no-repeat;

                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 80px;
                            height: 30px;
                            top: 80%;
                            left: 50%;
                            transform: translateX(-50%);
                            background-image: url(../images/nav_btm.svg);
                            background-size: contain;
                            background-repeat: no-repeat;

                        }
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;
        align-self: flex-end;
        position: relative;
        cursor: pointer;

        font-size: $font-size-xl;
        padding: 10px 40px 10px 10px;
        color: #c9a063;
        border: none;
        background-color: transparent;
        font-family: "Shippori Mincho";

        &:before {
            position: absolute;
            content: "";
            background-image: url(../images/hamburger_deco.svg);
            height: 80px;
            width: 80px;
            top: -30%;
            right: 0;
        }
    }

    @media ($mediaSm) {
        flex-direction: column-reverse;
        top: 15px;
        position: fixed;

        right: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateY(-100%);
        /* 預設隱藏在上方 */
        opacity: 0;

        &.show {
            transform: translateY(0);
            /* 滑入 */
            opacity: 1;
        }

        #hamburger {
            display: flex;

        }

        .nav-bar {
            display: none;
            width: 150px;
            align-self: end;
            background-color: rgb(35, 32, 61, 0.9);
            position: absolute;
            top: -40px;
            justify-content: center;
            animation: hide .35s both;


            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 100px;
                padding-bottom: 50px;

                li {
                    a {
                        font-size: $font-size-xxxl;
                    }
                }
            }

            &:after {
                position: absolute;
                content: "";
                background-image: url(../images/hamburger_deco_btm.svg);
                height: 80px;
                width: 80px;
                bottom: 0;
                left: 0;
            }

            &.show {
                display: flex;
                animation: show 0.4s both;

            }
        }

    }
}



#intro {

    .wrap {
        max-width: 1200px;

        .flaot_title {
            text-align: center;
            padding: 120px 0 200px;
            font-size: $font-size-xl;
            line-height: 3rem;

            h4 {
                line-height: 2.3rem;
                font-weight: medium;
                animation: float 4s ease-in-out infinite;

                &:nth-child(3) {
                    font-size: $font-size-xxl;
                    color: rgb(170, 74, 74);
                    padding-top: 20px;
                    font-weight: bold;
                    animation-delay: .2s;

                }
            }
        }

        .story {
            margin-top: $interval-m ;
            text-align: center;
            line-height: $font-size-xxl;
        }
    }

    @media ($mediaSm) {
        padding-top: 140px;
        padding-bottom: 50px;
    }
}

#date {

    .date_wrap {
        max-width: 500px;
        text-align: center;

        p {
            margin: 10px 0;
        }

        .p_wrap {
            margin: 20px 0;
        }

        .p_date {
            font-size: $font-size-xxxl;
            font-family: "MonteCarlo", cursive;
            letter-spacing: 3px;

        }

        .p_time {
            font-size: $font-size-xxl;
            font-family: "MonteCarlo", cursive;
            letter-spacing: 3px;

        }

        .p_venue {
            font-size: $font-size-xl;
            display: flex;
            justify-content: center;
            letter-spacing: 0.1rem;

            a {
                display: flex;
                align-self: center;
                margin-left: $interval-s;
                transition: transform 0.1s ease-in-out;

                .fa-map-location-dot {
                    color: lightgray;
                }

                &:hover {
                    transform: scale(0.9);
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .small {
            color: #ccc;
            font-size: $font-size-m;
            letter-spacing: 0;

        }
    }

    @media ($mediaSm) {
        .date_wrap {
            p {
                margin: 0;
            }
        }

        .p_wrap {
            margin: 30px 0;

            .p_venue {
                flex-direction: column;
                gap: $interval-s;
                margin-top: 5px;

                .fa-map-location-dot {
                    font-size: $font-size-xl;
                }
            }
        }
    }
}


#event {
    overflow: hidden;

    .event_wrap {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        gap: 120px;

        .event_cnt {
            display: flex;
            align-items: center;
            gap: 80px;

            figure {
                max-width: 500px;
                display: flex;
                aspect-ratio: 4/3;
                flex: 1;

                img {
                    object-fit: cover;
                    // height: 100%;
                    // width:100%;

                }
            }

            .txt_content {
                flex: 1;

                flex-direction: column;
                // padding: 0 80px;
                line-height: $font-size-xxl;

                h4 {
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: $font-size-xl;
                }

                #openModal,
                #openModal2 {
                    margin-top: $interval-l;
                    color: coral;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }
        }
    }

    .phone {
        display: none;
    }

    @media ($mediaIpadAir) {
        .event_wrap {
            display: flex;
            flex-direction: column;

            .event_cnt {
                margin: 50px 0;
                display: flex;
                gap: 24px;

                img {
                    max-width: 300px;
                    height: auto;
                    aspect-ratio: 4/3;
                }

                .txt_content {
                    padding: 0;

                    h4 {
                        margin-top: 20px;

                    }
                }
            }
        }

        .phone {
            display: none;
        }
    }

    @media ($mediaSm) {

        // 手機版
        .event_wrap {
            display: none;
            margin: 0;
            gap: 0;
        }

        .phone {
            display: flex;
            flex-direction: column;

            .event_cnt {
                flex-direction: column;
                margin: 40px 0;
                gap: 0;

                .txt_content {
                    padding: 0;
                    margin-bottom: 40px;


                    h4 {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

/* 隱藏 Modal（預設不顯示） */
.modal-overlay {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    /* 背景變暗 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* 確保在最上層 */
    // display: flex;
    flex-direction: column;

    /* Modal 彈窗 */
    .modal {
        display: flex;
        background: black;
        margin-bottom: 20px;
        width: 100%;
        // height: auto;
        aspect-ratio: 16 / 9;
        max-width: 60%;
        // padding-bottom: 56.25%;
        // /* 16:9 比例 */
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
        text-align: center;
        position: relative;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // max-height: 690px;
            border: none;
        }

        /* 關閉按鈕 */
    }

    .modal-close {

        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: whitesmoke;
        font-family: "MonteCarlo", cursive, ;
        font-size: $font-size-xxxl;
        letter-spacing: 0.4rem;

        &:hover {
            filter: brightness(0.8);
        }
    }

    @media ($mediaSm) {
        .modal {
            max-width: 90%;
        }
    }

}

/* 顯示 Modal（當 JavaScript 添加 `active` 類別時） */
.modal-overlay.active {
    display: flex;
}


#cast {
    width: 100%;
    height: auto;
    // overflow: hidden;
    padding: 5% 0;
    padding-bottom: 200px;

    .carousel-container {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        overflow: visible;
    }

    .carousel {
        display: flex;

        .carousel-item {
            cursor: pointer;

            img {
                filter: drop-shadow(0 0 .6rem rgb(19, 19, 19));
            }
        }

        .slick-track {
            padding: 20px 0;
        }

        .slick-slide {

            margin: 20px;
            transition: transform 0.3s ease;
            /* 讓切換平滑 */
            filter: brightness(0.7), ;
            /* 預設讓非中間的圖片變暗 */
            transform: scale(0.9);

        }

        .slick-center {
            filter: brightness(1) drop-shadow(0 0 .25rem rgb(222, 223, 157)) !important;
            /* 讓中間的圖片變亮 */
            transform: scale(1.1);
            /* 讓中間的圖片變大 */
            cursor: default;

        }
    }

    .slick-dots {
        display: flex !important;
        justify-content: center;
        bottom: -100px;
        position: absolute;
        width: 100%;

        li {
            scale: 3;
            margin: 0 15px;

            button {
                all: unset;
                font-size: 0;

                &:before {
                    // display: none;
                    opacity: 1;
                    filter: brightness(0.7);
                    content: "❖";
                    font-size: 10px;
                    cursor: pointer;
                }
            }

            &:nth-child(1) {
                button {
                    &:before {
                        color: rgb(160, 204, 218);

                    }
                }
            }

            &:nth-child(2) {
                button {
                    &:before {
                        color: rgb(214, 138, 204);
                    }
                }
            }

            &:nth-child(3) {
                button {
                    &:before {
                        color: rgb(45, 65, 177);
                    }
                }
            }

            &:nth-child(4) {
                button {
                    &:before {
                        color: rgb(218, 206, 139);
                    }
                }
            }

            &:nth-child(5) {
                button {
                    &:before {
                        color: rgb(206, 133, 50);
                    }
                }
            }

            &:nth-child(6) {
                button {
                    &:before {
                        color: rgb(140, 80, 175);
                    }
                }
            }

            &:nth-child(7) {
                button {
                    &:before {
                        color: rgb(72, 134, 72);
                    }
                }
            }

            &.slick-active button:before {
                // color: red;
                opacity: 1;
                scale: 1.2;
                filter: brightness(1.1);
            }
        }

    }

    /* 自訂箭頭樣式 */
    .slick-prev-custom,
    .slick-next-custom {
        position: absolute;
        bottom: -110px;
        /* 與 .slick-dots 對齊 */
        color: aquamarine;
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
        transform-origin: center center;
        /* 以物件正中心為縮放基準 */
        min-width: 120px;
    }

    /* 調整左右箭頭的位置 */
    .slick-prev-custom {
        width: 10%;
        height: auto;
        left: 20%;

        /* 靠近左邊 */
        &:hover {
            filter: brightness(0.8);
        }
    }

    .slick-next-custom {
        width: 10%;
        height: auto;
        right: 20%;

        /* 靠近右邊 */
        &:hover {
            filter: brightness(0.8);
        }
    }

    @media ($mediaIpadAir) {
        .carousel {

            /* 調整左右箭頭的位置 */
            .slick-prev-custom {
                width: 15%;
                left: 10%;
                bottom: -105px;

            }

            .slick-next-custom {
                width: 15%;
                right: 10%;
                bottom: -105px;

            }
        }
    }

    @media ($mediaSm) {
        // 手機版
        padding-bottom: 180px;

        .carousel {
            .carousel-item {

                img {
                    filter: none;
                }
            }

            .slick-track {
                padding: 50px 0;
            }

            .slick-slide {
                margin: 30px;
                transition: transform 0.3s ease;
                /* 讓切換平滑 */
                filter: brightness(0.7);
                /* 預設讓非中間的圖片變暗 */
                padding: 0;

            }

            .slick-center {
                filter: brightness(1) drop-shadow(0 0 6px rgb(222, 223, 157)) !important;
                /* 讓中間的圖片變亮 */
                transform: scale(1.5);
                /* 讓中間的圖片變大 */
            }

            .slick-dots {
                bottom: -60px;
            }

            .slick-prev-custom,
            .slick-next-custom {
                bottom: -120px;
                width: 30%;
            }

            .slick-prev-custom {
                left: 10%;
            }

            .slick-next-custom {
                right: 10%;
            }
        }
    }


}


#goods {
    display: flex;
    flex-direction: column;
    height: 500px;

    p {
        text-align: center;
    }

}

#secret {
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    background-image: none;

    .content {
        padding: 5%;
        width: 100%;
        position: absolute;
        z-index: 10;

        p {
            text-align: center;
        }
    }

    #video-bg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* 讓影片居中 */
        z-index: -10;
        /* 確保影片在最底層 */


        height: 100%;
        width: 100%;
        object-fit: cover;
        // 混合模式修圖
        // mix-blend-mode: overlay;
        filter: brightness(70%);

    }
}


#links {


    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            margin: 15px 0;
        }

        .app {
            width: 200px;
            height: 200px;

            img {

                border-radius: 40px;
            }
        }


        .brand {
            display: flex;
            justify-content: center;
            gap: 80px;
            align-items: center;

            .fa-apple {
                color: white;
                font-size: 90px;
                transition: transform 0.1s ease-in-out;

                &:hover {
                    transform: scale(0.92);
                }
            }

            .fa-google-play {
                color: white;
                font-size: 75px;
                transition: transform 0.1s ease-in-out;

                &:hover {
                    transform: scale(0.92);
                }
            }
        }
    }
}

#contact {

    .staff {
        width: 100%;
        max-width: 800px;
        text-align: center;
        padding-bottom: 120px;

        ul {
            display: flex;
            margin: auto;
            border: 1px lavender solid;
            justify-content: space-around;

            li {
                width: 80px;
                height: 80px;
                background-color: aliceblue;
                clip-path: circle(50% at 50% 50%);
                color: navy;
                text-align: center;
                line-height: 80px;
            }
        }
    }
}

footer {
    text-align: center;
    background-color: #333;
    padding: 20px 0 40px;

    #gotop {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-family: "MonteCarlo", cursive;
        line-height: 20px;
        letter-spacing: 2px;

        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;

        position: fixed;
        right: 20px;
        bottom: 30px;
        z-index: 666;


        &::before {
            content: '';
            background-image: url(../images/back-to-top.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            animation: rotation 30s infinite;
            opacity: 0.6;
            transition: none;

        }

        &:hover {
            // transform: scale(1.2);
            font-size: 26px;
            line-height: 24px;


            &::before {
                animation-play-state: paused;
            }
        }
    }
}