@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Shippori+Mincho&display=swap');


/*共用樣式區開始*/
html {
    scroll-behavior: smooth;
    /* 讓滾動有平滑效果 */
}

body {
    background-color: darkcyan;
    background-image: url(../images/patter.jpg);
    color: white;
    font-family: "Shippori Mincho", serif;


    h3.title {
        text-align: center;
        font-size: $font-size-xxxl ;
        font-family: "MonteCarlo", cursive,
    }

}

section {
    // height: 50vh;
    // max-width: 1200px;
    width: 100%;
    justify-self: center;

    border: 1px blue solid;
    padding: 5%;
    justify-items: center;
    background-image: url(../images/patter.jpg);


    .preview {
        font-size: $font-size-xl;
        margin-top: 50px;
    }

}

/*共用樣式區結束*/

header {
    position: relative;

    .banner_border {
        height: 100vh;
        width: 100%;
        clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 100%, 100% 100%, 100% 0%);
        background-color: rgb(35, 32, 61);
        position: absolute;
    }

    #banner {
        height: 100vh;
        width: 100%;
        background-image: url(../images/MainVisual.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px red solid;
        background-attachment: fixed; //視差效果

        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 5%;


        .event_title {
            display: block;
            justify-self: end;
            border: 1px solid lightgrey;
            text-align: center;

            h1 {
                font-size: $font-size-xxxl;
            }

            h2 {
                font-size: $font-size-xl;
            }

            h3 {
                font-size: $font-size-l;
            }
        }

        .news_carousel {
            width: 350px;
            height: 150px;
            background-color: bisque;
            align-items: end;
        }
    }
}


nav {
    border: 2px rgb(187, 255, 0) solid;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;



    ul {
        display: flex;
        justify-content: flex-end;

        li {
            margin: 5px 10px;

            a {
                &:hover {
                    color: lightsalmon;
                    text-decoration: underline;
                }
            }
        }
    }
}


#intro {
    border: 1px lightcoral solid;

    .story {
        margin-top: $interval-m ;
        text-align: center;
    }
}

#date {
    div {
        text-align: center;

        p {
            margin: 10px 0;
        }
    }

    .p_date {
        font-size: $font-size-xxxl;
        font-family: "MonteCarlo", cursive;
        letter-spacing: 3px;

    }

    .p_time {
        font-size: $font-size-xxl;
        font-family: "MonteCarlo", cursive;
        letter-spacing: 3px;

    }

    .p_venue {
        font-size: $font-size-xl;
        display: flex;
        justify-content: center;



        a {
            display: flex;
            align-self: center;
            margin-left: $interval-s;
            transition: transform 0.1s ease-in-out;

            .fa-map-location-dot {
                color: lightgray;
            }

            &:hover {
                transform: scale(0.9);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .small {
        color: #ccc;
        font-size: $font-size-m;
    }
}


#event {
    .event_wrap {
        img {
            height: 300px;
            width: 400px;
            object-fit: cover;

        }

        div {
            display: flex;
            margin: 80px 0;
            align-items: center;

            .txt_content {
                flex-direction: column;
                margin: 0 80px;

                h4 {
                    text-align: center;
                    margin-bottom: 15px;
                    font-size: $font-size-xl;
                }
            }
        }
    }
}

#cast {
    width: 100%;
    overflow: hidden;
    .carousel-container {
        // width: 80%;
        // max-width: 1000px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    .carousel {
        display: flex;
        width: 100%;
        position: relative;
        transition: all 0.3s ease;

        .carousel-item {
            flex: 0 0 calc(100% / 3);
            padding: 0 30px;
            opacity: 0.5;

            .active {
                opacity: 1;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .carousel-controls {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 50px;

        .carousel-control {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 16px;

            &:hover {
                background-color: #555;
            }
        }
    }


    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        gap: 8px;

        .indicator {
            width: 12px;
            height: 12px;
            background-color: #ccc;
            border-radius: 50%;
            cursor: pointer;

        }

        .active {
            background-color: #333;
        }
    }


}

#secret {
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    background-image: none;

    .content {
        padding: 5%;
        width: 100%;
        position: absolute;
        z-index: 10;

        p {
            text-align: center;
        }
    }

    #video-bg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* 讓影片居中 */
        z-index: -10;
        /* 確保影片在最底層 */


        height: 100%;
        width: 100%;
        object-fit: cover;
        // 混合模式修圖
        // mix-blend-mode: overlay;
        filter: brightness(70%);

    }
}


#links {
    p {
        text-align: center;
        margin: 15px 0;
    }

    .app {
        justify-items: center;

        img {
            width: 200px;
            height: 200px;
            border-radius: 40px;
        }
    }

    .brand {
        display: flex;
        justify-content: center;
        gap: 80px;
        align-items: center;

        .fa-apple {
            color: white;
            font-size: 90px;
            transition: transform 0.1s ease-in-out;

            &:hover {
                transform: scale(0.92);
            }
        }

        .fa-google-play {
            color: white;
            font-size: 75px;
            transition: transform 0.1s ease-in-out;

            &:hover {
                transform: scale(0.92);
            }
        }
    }
}

#contact {
    .staff {
        width: 80%;

        ul {
            display: flex;
            margin: auto;
            border: 1px lavender solid;
            justify-content: space-around;

            li {
                width: 80px;
                height: 80px;
                background-color: aliceblue;
                clip-path: circle(50% at 50% 50%);
            }
        }
    }
}

footer {
    text-align: center;
    background-image: url(../images/patter.jpg);

}