@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Shippori+Mincho&display=swap');


/*共用樣式區開始*/
html {
    scroll-behavior: smooth;
    /* 讓滾動有平滑效果 */
}

body {
    background-color: darkcyan;
    background-image: url(../images/patter.jpg);
    color: white;
    font-family: "Shippori Mincho", serif;


    h3.title {
        text-align: center;
        font-size: $font-size-xxxl ;
        font-family: "MonteCarlo", cursive,
    }

}

section {
    // height: 50vh;
    // max-width: 1200px;
    width: 100%;
    justify-self: center;

    border: 1px blue solid;
    padding: 5% 10%;

    justify-items: center;
    background-image: url(../images/patter.jpg);


    .preview {
        font-size: $font-size-xl;
        margin-top: 50px;
    }

}

/*共用樣式區結束*/

header {
    position: relative;

    .banner_border {
        height: 100vh;
        width: 100%;
        clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 100%, 100% 100%, 100% 0%);
        background-color: rgb(35, 32, 61);
        position: absolute;
    }

    #banner {
        height: 100vh;
        width: 100%;
        background-image: url(../images/MainVisual.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px red solid;
        background-attachment: fixed; //視差效果

        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 5%;


        .event_title {
            display: block;
            justify-self: end;
            border: 1px solid lightgrey;
            text-align: center;

            h1 {
                font-size: $font-size-xxxl;
            }

            h2 {
                font-size: $font-size-xl;
            }

            h3 {
                font-size: $font-size-l;
            }
        }

        .news_carousel {
            width: 250px;
            height: 150px;
            background-color: rgb(146, 87, 15);
            align-items: end;
            margin-left: 30px;
        }
    }
}


nav {
    border: 2px rgb(187, 255, 0) solid;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;



    ul {
        display: flex;
        justify-content: flex-end;

        li {
            margin: 5px 10px;

            a {
                &:hover {
                    color: lightsalmon;
                    text-decoration: underline;
                }
            }
        }
    }
}


#intro {
    border: 1px lightcoral solid;

    .wrap {
        max-width: 1200px;

        // padding: 0 10%;
        .story {
            margin-top: $interval-m ;
            text-align: center;
        }
    }
}

#date {
    div {
        text-align: center;

        p {
            margin: 10px 0;
        }
    }

    .p_date {
        font-size: $font-size-xxxl;
        font-family: "MonteCarlo", cursive;
        letter-spacing: 3px;

    }

    .p_time {
        font-size: $font-size-xxl;
        font-family: "MonteCarlo", cursive;
        letter-spacing: 3px;

    }

    .p_venue {
        font-size: $font-size-xl;
        display: flex;
        justify-content: center;



        a {
            display: flex;
            align-self: center;
            margin-left: $interval-s;
            transition: transform 0.1s ease-in-out;

            .fa-map-location-dot {
                color: lightgray;
            }

            &:hover {
                transform: scale(0.9);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .small {
        color: #ccc;
        font-size: $font-size-m;
    }
}


#event {
    overflow: hidden;

    .event_wrap {
        max-width: 1200px;

        img {
            height: 300px;
            width: 400px;
            object-fit: cover;

        }

        div {
            display: flex;
            margin: 80px 0;
            align-items: center;

            .txt_content {
                flex-direction: column;
                margin: 0 80px;
                line-height: $font-size-xxl;

                h4 {
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: $font-size-xl;
                }

                #openModal {
                    margin-top: $interval-l;
                    color: coral;
                    border: none;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(0.8);
                    }
                }
            }
        }

    }
}

/* 隱藏 Modal（預設不顯示） */
.modal-overlay {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    /* 背景變暗 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* 確保在最上層 */
    // display: flex;
    flex-direction: column;
    /* Modal 彈窗 */
    .modal {
        display: flex;
        background: black;
        margin-bottom: 20px;
        width: 100%;
        // height: auto;
        aspect-ratio: 16 / 9;
        max-width: 60%;
        // padding-bottom: 56.25%;
        // /* 16:9 比例 */
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
        text-align: center;
        position: relative;
    
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // max-height: 690px;
            border: none;
        }
    
        /* 關閉按鈕 */
    }
    
    .modal-close {
    
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: whitesmoke;
        font-family: "MonteCarlo", cursive, ;
        font-size: $font-size-xxxl;
        letter-spacing: 0.4rem;
    
        &:hover {
            filter: brightness(0.8);
        }
    }
    
}
/* 顯示 Modal（當 JavaScript 添加 `active` 類別時） */
.modal-overlay.active {
    display: flex;
}




#cast {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    padding: 5% 0;

    .carousel-container {
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }

    .carousel {
        display: flex;

        .slick-slide {
            margin: 20px;
            transition: transform 0.3s ease;
            /* 讓切換平滑 */
            filter: brightness(0.7);
            /* 預設讓非中間的圖片變暗 */
        }

        .slick-center {
            filter: brightness(1) !important;
            /* 讓中間的圖片變亮 */
            transform: scale(1.1);
            /* 讓中間的圖片變大 */
        }
    }

    .slick-dots {
        display: flex !important;
        justify-content: center;
        bottom: -100px;
        position: absolute;
        width: 100%;

        li {
            scale: 3;
            margin: 0 10px;

            button {
                &:before {
                    // display: none;
                    opacity: 1;
                    filter: brightness(0.7);
                    content: "✽";
                    font-size: 9px;
                }
            }

            &:nth-child(1) {
                button {
                    &:before {
                        color: rgb(160, 204, 218);

                    }
                }
            }

            &:nth-child(2) {
                button {
                    &:before {
                        color: rgb(214, 138, 204);
                    }
                }
            }

            &:nth-child(3) {
                button {
                    &:before {
                        color: rgb(45, 65, 177);
                    }
                }
            }

            &:nth-child(4) {
                button {
                    &:before {
                        color: rgb(218, 206, 139);
                                            }
                }
            }

            &:nth-child(5) {
                button {
                    &:before {
                        color: rgb(206, 133, 50);
                    }
                }
            }

            &:nth-child(6) {
                button {
                    &:before {
                        color: rgb(140, 80, 175);
                    }
                }
            }

            &:nth-child(7) {
                button {
                    &:before {
                        color: rgb(72, 134, 72);
                    }
                }
            }

            &.slick-active button:before {
                // color: red;
                opacity: 1;
                scale: 1.2;
                filter: brightness(1.1);
            }
        }

    }

    /* 自訂箭頭樣式 */
    .slick-prev-custom,
    .slick-next-custom {
        position: absolute;
        bottom: -100px;
        /* 與 .slick-dots 對齊 */
        color: aquamarine;
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
    }

    /* 調整左右箭頭的位置 */
    .slick-prev-custom {
        width: 10%;
        height: auto;
        left: 20%;
        /* 靠近左邊 */
        &:hover {
            filter: brightness(0.8);
        }
    }

    .slick-next-custom {
        width: 10%;
        height: auto;
        right: 20%;
        /* 靠近右邊 */
        &:hover {
            filter: brightness(0.8);
        }
    }
}


#goods {

    .your-class {
        display: flex;

    }
}

#secret {
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    background-image: none;

    .content {
        padding: 5%;
        width: 100%;
        position: absolute;
        z-index: 10;

        p {
            text-align: center;
        }
    }

    #video-bg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* 讓影片居中 */
        z-index: -10;
        /* 確保影片在最底層 */


        height: 100%;
        width: 100%;
        object-fit: cover;
        // 混合模式修圖
        // mix-blend-mode: overlay;
        filter: brightness(70%);

    }
}


#links {
    p {
        text-align: center;
        margin: 15px 0;
    }

    .app {
        justify-items: center;

        img {
            width: 200px;
            height: 200px;
            border-radius: 40px;
        }
    }

    .brand {
        display: flex;
        justify-content: center;
        gap: 80px;
        align-items: center;

        .fa-apple {
            color: white;
            font-size: 90px;
            transition: transform 0.1s ease-in-out;

            &:hover {
                transform: scale(0.92);
            }
        }

        .fa-google-play {
            color: white;
            font-size: 75px;
            transition: transform 0.1s ease-in-out;

            &:hover {
                transform: scale(0.92);
            }
        }
    }
}

#contact {
    .staff {
        width: 80%;

        ul {
            display: flex;
            margin: auto;
            border: 1px lavender solid;
            justify-content: space-around;

            li {
                width: 80px;
                height: 80px;
                background-color: aliceblue;
                clip-path: circle(50% at 50% 50%);
            }
        }
    }
}

footer {
    text-align: center;
    background-image: url(../images/patter.jpg);

}