//間距
$interval-s:10px;
$interval-m:16px;
$interval-l:24px;
$interval-x-s:0 10px;
$interval-x-m:0 20px;
$interval-y-xs:5px 0 ;
$interval-y-s:20px 0 10px;
$interval-xy-s:10px 20px;
$interval-xy-l:20px 50px;
$interval-x-center:20px auto;


// 速率
$speed-fast:.4s;

// 特效
$text-shadow: 0px 0px 3px  rgb(37, 27, 86);

// 字級
$font-size-xs:.7rem;
$font-size-s:.8rem;
$font-size-m:1rem;
$font-size-l:1.2rem;
$font-size-xl:1.4rem;
$font-size-xxl:1.8rem;
$font-size-xxxl:2rem;

// 字重
$font-weight-light:100;
$font-weight-regular:400;
$font-weight-bold:700;

// 圓角
$border-r-s:8px;
$border-r-m:16px;
$border-r-l:24px;

//RWD斷點
$mediaSm:'max-width:640px'; //0-640
$mediaSmUp:'min-width:641px'; //641-n非手機版時的樣式(手機版和桌機版完全不同樣式的時候使用)
$mediaIpadAir:'max-width:820px'; //n-820
$mediaMd:'max-width:1023px'; //n-1023
$mediaLg:'min-width:1024px'; //1024-α