// 
$color-deep:rgb(101, 83, 120);
$color-light:rgb(155, 140, 173);
$color-light2:rgb(200, 188, 215);
$color-lighter:rgb(238, 232, 245);
$color-grey:#444;

// background
$color-bg-blue:rgb(199, 223, 243);
$color-bg-blue-l:rgb(225, 237, 247);
$color-bg-beige:#eceae5;

// alpha
$alpha-b-55: rgba(0, 0, 0, .55);
$alpha-b-85: rgba(0, 0, 0, .85);
$alpha-w-70: rgba(255, 255, 255, .70);






